name: Run hadolint
on:
  workflow_dispatch:
  workflow_call:
permissions:
  contents: read
jobs:
  hadolint:
    name: Run hadolint check
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile
